<div class="cal-label">{{ label }}</div>

<div class="cal-week cal-header">
  <div class="cal-title">Sun</div>
  <div class="cal-title">Mon</div>
  <div class="cal-title">Tue</div>
  <div class="cal-title">Wed</div>
  <div class="cal-title">Thu</div>
  <div class="cal-title">Fri</div>
  <div class="cal-title">Sat</div>
</div>

{{#each weeks}}
  <div class="cal-week">
    {{#each this}}
      <div class="cal-day">
        <div class="cal-date">{{#if date}}{{ date }}{{else}}&nbsp;{{/if}}</div>
        {{#each items}}
        <div class="cal-item"><a title="{{ title }}" href="/post/{{ slug }}">{{ title }}</a></div>
        {{/each}}
      </div>
    {{/each}}
  </div>
{{/each}}

<div style="clear: both;"></div>

<div class="cal-list">
  {{#each weeks}}
    {{#each this}}
      {{#if items}}
        <div class="cal-list-date">{{ date }}</div>
        <div class="cal-list-items">
          {{#each items}}
            <div class="cal-item"><a href="/post/{{ slug }}">{{ title }}</a></div>
          {{/each}}
        </div>
      {{/if}}
    {{/each}}
  {{/each}}
</div>

<div class="cal-paging paging-controls">
  {{#if hasPrevious}}
    <div class="cal-prev"><a href="/calendar?year={{ year }}&month={{ previousMonth }}">&laquo; Previous</a></div>
  {{/if}}
  {{#if hasNext}}
    <div class="cal-next"><a href="/calendar?year={{ year }}&month={{ nextMonth }}">Next Month &raquo;</a></div>
  {{/if}}
</div>
