body {
  font: 14px 'Lora', serif;
}
a {
  text-decoration: none;
  color: #ff7c00;
}
a:hover {
  color: #000;
}
form {
  margin-top: 20px;
}
label {
  color: #666;
  padding-right: 5px;
}
input[type=text],
input[type=password] {
  border: 0;
  border-bottom: 1px solid #ff7c00;
  width: 120px;
  margin-right: 10px;
}
input[type=text]:focus,
input[type=password]:focus {
  outline: none;
}
input[type=checkbox] {
  margin-right: 10px;
}
input[type=submit] {
  margin: 20px 10px 0 0;
}
#post_title {
  width: 500px;
}
.textarea-codemirror {
  margin: 20px 0;
}
.date-form input[type=text] {
  width: 18px;
}
.date-form #year {
  width: 36px;
}
.flash {
  color: #F00;
}
.main-content {
  max-width: 600px;
  padding: 40px 20px 0 20px;
  margin: 0 auto;
  border-top: 3px solid #ff7c00;
  border-bottom: 5px solid #ff7c00;
}
.main-head,
.main-foot {
  text-align: center;
}
.main-foot {
  padding-top: 40px;
}
.main-foot .copyright {
  color: #666;
  font-size: .8em;
  margin: 10px 0 3px;
}
.post h1 {
  font-family: 'Antic Slab', serif;
  font-size: 2.2em;
  letter-spacing: .13em;
  text-align: center;
  margin-bottom: 4px;
}
.post .post-created {
  text-align: center;
  font-size: .9em;
  letter-spacing: .13em;
  color: #999;
  margin-bottom: 20px;
}
.post .post-body {
  font-size: 1.2em;
  letter-spacing: .05em;
  line-height: 1.6em;
  color: #666;
  margin-bottom: 40px;
}
.post .post-body img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 650px) {
  .post h1 {
    font-size: 1.8em;
    line-height: 1.1em;
  }
  .post .post-created {
    font-size: .8em;
  }
  .post .post-body {
    font-size: 1.1em;
    line-height: 1.4em;
  }
  .post .date-ago {
    display: none;
  }
}
.post-controls {
  margin-top: -50px;
}
.post-controls form a {
  padding-right: 10px;
}
/* Calendar styles */
@media (max-width: 650px) {
  .cal-week {
    display: none;
  }
}
@media (min-width: 651px) {
  .cal-list {
    display: none;
  }
}
.cal-week {
  clear: both;
}
.cal-week .cal-day,
.cal-week .cal-title {
  float: left;
  width: 13.2%;
  margin: 1px;
  padding: 2px 0 2px 2px;
}
.cal-week .cal-day {
  color: #666;
  height: 60px;
  background-color: #EEE;
}
.cal-week .cal-day .cal-item {
  font-size: .8em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cal-label {
  font-family: 'Antic Slab', serif;
  font-size: 2.2em;
  letter-spacing: .13em;
  text-align: center;
  margin: 20px 0;
  color: #666;
}
.cal-list-date {
  background-color: #EEE;
  padding: 3px;
  margin-bottom: 5px;
}
.cal-list-items {
  margin-bottom: 15px;
}
.cal-paging {
  margin-top: 20px;
}
.cal-paging .cal-prev {
  float: left;
}
.cal-paging .cal-next {
  float: right;
}
