{{#contentFor "stylesheets"}}
  <link rel="stylesheet" href="/stylesheets/codemirror.css">
  <link rel="stylesheet" href="/stylesheets/vibrant-ink.css">
{{/contentFor}}

{{#contentFor "scripts"}}
  <script src="/javascripts/codemirror.js"></script>
  <script src="/javascripts/vim.js"></script>
  <script src="/javascripts/markdown.js"></script>
  <script src="/javascripts/search.js"></script>
  <script src="/javascripts/searchcursor.js"></script>
  <script src="/javascripts/match-highlighter.js"></script>
  <script src="/javascripts/hardwrap.js"></script>
{{/contentFor}}

<form action="/post" method="post">
  <label for="title">Title:</label>
  <input type="text" id="post_title" name="post_title" value="{{ post.title }}"><br>

  <div class="textarea-codemirror">
    <textarea id="post_body" name="post_body">{{ post.body }}</textarea>
  </div>

  <input type="hidden" name="id" id="id" value="{{ post._id }}">
  <input type="hidden" name="slug" id="slug" value="{{ post.slug }}">

  <div class="date-form">
    <label for="private">Private:</label>
    <input type="checkbox" name="private" value="private" {{#if post.private}}checked="checked"{{/if}} id="private">

    {{#if post._id}}
      <label for="month">Created:</label>
      <input type="text" name="month" value="{{ month }}" id="month">/
      <input type="text" name="day" value="{{ day }}" id="day">/
      <input type="text" name="year" value="{{ year }}" id="year">
      <input type="text" name="hour" value="{{ hour }}" id="hour">:
      <input type="text" name="minute" value="{{ min }}" id="minute">
    {{/if}}
  </div>

  <div>
    <input type="submit" value="Save">
    <a href="/">Cancel</a>
  </div>
</form>

<script type="text/javascript" charset="utf-8">
  var editor = CodeMirror.fromTextArea($('#post_body')[0], {
    mode: 'markdown',
    lineNumber: false,
    theme: 'vibrant-ink',
    extraKeys: {'Enter': 'newlineAndIndentContinueMarkdownList'},
    vimMode: true,
    showCursorWhenSelecting: true
  });

  // Automatically hard wrap on change
  var wait, options = {column: 74};
  editor.on("change", function(cm, change) {
    clearTimeout(wait);
    wait = setTimeout(function() {
      cm.wrapParagraphsInRange(change.from, CodeMirror.changeEnd(change), options);
    }, 200);
  });
</script>
